/problema01/nbproject/private/
/problema01/build/
/problema02/nbproject/private/
/problema02/build/
/problema03/nbproject/private/
/problema03/build/
/problema04/nbproject/private/
/problema1/problema01/build/
/problema1/problema01/nbproject/private/
/problema3/problema03/build/
/problema3/problema03/nbproject/private/
/problema4/problema04/nbproject/private/
/problema4/problema04/build/
